* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
}
.container {
    max-width: 1336px;
    margin: 0 auto;


}
.containerHeader {
    margin: 0 auto; 
    position: relative;
}

header {
    background: whitesmoke;
}

.fale-conosco {
    background-color: rgb(233, 232, 232);
    width: 25%;
    float: right;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    
}

.fale-conosco h1 {
    font-size: 35px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    height: 100px;
}
.fale-conosco hr {
    background-color: rgb(255, 255, 255); 
    height: 1px; 
    border: none;
}
.fale-conosco p {
    padding: 40px;
    font-family: "montserrat", sans-serif;
}
.fale-conosco input {
    height: 40px;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 30px;
    width: 300px;
}

.headerContainer {
    height: 100px;
    display: flex;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
}

.headerContainer a {
    display: flex;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.logo h1 {
    margin-right: 500px;
    color: black;
    /* font-size: 4dvh; */
}

li {
    width: 100px;
}

nav {
    display: flex;
    margin-left: 100px;
}

.logo {
    display: flex;
}

.logo h1 {
    color: black;
    margin-top: 3vh;
}

.logo,
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.servico {
    width: 110px;
    background-color: #085399;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.imgLogo {
    width: 80px;
    height: 80px;
    display: flex;
    align-content: center;
}


.contato {
    color: #085399;
}

